/* 
в стейте хранятся только классы. сами класы будут определятся в цсс 
сделать рандомную точку спавна
нормальные отступы и размеры и анимации */

@import url("variables.css");
@import url("animations.css");

/* AboutMe */
.planets__aboutMe {
  width: var(--planet-size__aboutMe);
  height: var(--planet-size__aboutMe);
  background-color: var(--planet-color__aboutMe);
}
.orbits__aboutMe {
  z-index: 60;
  width: var(--orbit-size__aboutMe);
  height: var(--orbit-size__aboutMe);
  animation: orbit__aboutMe var(--orbit-animation-duration__aboutMe) linear
    infinite;
}
.planets__aboutMe:hover {
  box-shadow: 0 0 3.5rem -0.5rem var(--planet-color__aboutMe);
}

/* Education */
.planets__education {
  width: var(--planet-size__education);
  height: var(--planet-size__education);
  background-color: var(--planet-color__education);
}
.orbits__education {
  z-index: 50;
  width: var(--orbit-size__education);
  height: var(--orbit-size__education);
  animation: orbit__education var(--orbit-animation-duration__education) linear
    infinite;
}
.planets__education:hover {
  box-shadow: 0 0 3.5rem -0.5rem var(--planet-color__education);
}

/* Skills */
.planets__skills {
  width: var(--planet-size__skills);
  height: var(--planet-size__skills);
  background-color: var(--planet-color__skills);
}
.orbits__skills {
  z-index: 40;
  width: var(--orbit-size__skills);
  height: var(--orbit-size__skills);
  animation: orbit__skills var(--orbit-animation-duration__skills) linear
    infinite;
}
.planets__skills:hover {
  box-shadow: 0 0 3.5rem -0.5rem var(--planet-color__skills);
}

/* Projects */
.planets__projects {
  width: var(--planet-size__projects);
  height: var(--planet-size__projects);
  background-color: var(--planet-color__projects);
}
.orbits__projects {
  z-index: 30;
  width: var(--orbit-size__projects);
  height: var(--orbit-size__projects);
  animation: orbit__projects var(--orbit-animation-duration__projects) linear
    infinite;
}
.planets__projects:hover {
  box-shadow: 0 0 3.5rem -0.5rem var(--planet-color__projects);
}

/* Contacts */
.planets__contacts {
  width: var(--planet-size__contacts);
  height: var(--planet-size__contacts);
  background-color: var(--planet-color__contacts);
}
.orbits__contacts {
  z-index: 20;
  width: var(--orbit-size__contacts);
  height: var(--orbit-size__contacts);
  animation: orbit__contacts var(--orbit-animation-duration__contacts) linear
    infinite;
}
.planets__contacts:hover {
  box-shadow: 0 0 3.5rem -0.5rem var(--planet-color__contacts);
}

/* Experience */
.planets__experience {
  width: var(--planet-size__experience);
  height: var(--planet-size__experience);
  background-color: var(--planet-color__experience);
}
.orbits__experience {
  z-index: 10;
  width: var(--orbit-size__experience);
  height: var(--orbit-size__experience);
  animation: orbit__experience var(--orbit-animation-duration__experience)
    linear infinite;
}
.planets__experience:hover {
  box-shadow: 0 0 3.5rem -0.5rem var(--planet-color__experience);
}
